.body {
  font-family: poppins,Arial,sans-serif;
  margin: 0px;
}
.header {
  display: flex;
  background-image: url(/src/img/bg_3.jpg);
  flex-direction: column;
}
.navigation-block {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #ffffff;
  padding: 5px;
  margin: auto;
  width: 100%;
  color: #ffffff;
}
.logo-bar {
  display: flex;
  flex-direction: column;
  text-align: center;
  display: flex;
  cursor: pointer;
  color:white;
  font-size: 22px;
  line-height: 1;
}
.navbar {
  display: flex;
}
.nav-item {
display: flex;
letter-spacing: 2px;
font-size: 13px;
padding: 20px;
}
.nav-link {
  list-style-type: none;
  text-decoration-line: none;
  color: #ffffff;
}
.nav-link-toggle {
  display: flex;
  list-style-type: none;
  text-decoration-line: none;
  color: #ffffff;
  width: 0;
  height: 0;
}
.toggle {
  display: flex;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #ffffff;
}
.icon {
  display: flex;
  height: 20px;
  width: 20px;
}
.welcome-slide {
  padding: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.description {
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 1px;
}
.subheading {
  font-family: Georgia, 'Times New Roman', Times, serif, cursive;
  font-size: 30px;
  color: #c49b63;
}
.origin {
  font-size: 18px;
  color: #ffffff;
}
.button-welcome-slide {
  border: 1px solid #c49b63;
  background-color: #c49b63;
  color: #000000;
  font-size: 13px;
  padding: 10px;
  text-align: center;
}